.pop-up {
    text-align: center;
}

.mat-dialog-title {
    color: #194F7F;
}


:host {
    display: block;
    padding: 20px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }